#_wrapper
{
    width:100%;
    height:100%;
}
#_header
{
    width:100%;
    height:25px;
}
#_main
{
    width:100%;
    height:100%;
}
#_context
{
    width:150px;
    height:100%;
    float:left;
}
#_view
{
    width:100%;
    height:100%;
    float:left;
}
